body {
  font-family: sans-serif;
}
table {
  width: 600px;
  margin: auto;
  border: 2px solid black;
  background-color: whitesmoke;
}
.first {
  color: brown;
  font-size: 25px;
}

hr {
  width: 90%;
}
span {
  font-size: 15px;
}
